* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
	text-align: center;
	width: 100%;
	font-size: 3em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid #023e8a;
}
#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
  background: #caf0f8;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(84,82,84,0.5);
}

#form-container form {
	padding-top: 0;
}

form input {
	width: 300px;
}
form select {
  width: 300px;
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 0;
}

form button {
  width: 300px;
  margin-top: 1em;
}

